/* VP + HEADER */

header {
    flex-direction: column;
}

header ul {
    flex-direction: column;
    text-align: center;
}

header ul li {
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-bottom: 1px dotted #ddd;
}

.vp-content {
   padding: 1.2rem
}

.vp-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.vp-content p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}


            /* SECTION OFFER */

.offer {
    padding: 5rem 1rem 5rem 1rem;
    text-align: center;
}

.offer-list {
    display: flex;
    flex-direction: column;
}

        /* SECTION WHO */

.who {
    flex-direction: column-reverse;
}

.who-content-image {
    min-height: 300px;
}

.who-content-text {
    padding: 2rem;
    text-align: center;
}


                /*   SECTION testimonials      */

.testimonials {
    padding: 1.5rem 1rem;
}

.testimonials-content h2 {
    margin-bottom: 1rem
}
.testimonials-elem {
    padding: 1rem;
}


             /* SECTION contact     */

.contact {
    padding: 5rem 1rem;
}

.contact-form button {
    margin: 3rem auto 0 auto; 
}


            /*   FOOTER */

footer  {
    padding: 2rem 1rem;
    letter-spacing: 0.1rem;
}


