        /*   RESET CSS   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee;
    color: #333;
}

p {
    margin-bottom: 0.8rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    color: #f1c40f;
    font-weight: 400;
}

em {
    color: #555;
}

        /* CLASS  */

.container {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.bg-dark {
    background: #333;
    color: white;
}


            /* VP + HEADER */

.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 2rem;
}

header a {
    color: white;
}

.vp-logo {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: 'Long Cang', cursive;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.vp-logo a {
    font-size: 3.5rem;
    font-weight: 300;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header ul li {
    padding: 1rem;
}

header ul li a:hover {
    color: #f1c40f;
}

.vp-logo i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #f1c40f
}

.vp {   
    flex: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background: url(../images/frame.jpg) center center/cover;
    padding: 2rem 0;
}

.vp-content {
    max-width: 800px;
    text-align: center;
    color: white;
}

.vp-content h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.vp-content p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
}


                            /* SECTION OFFER */


.offer {
    padding: 8rem 1rem 10rem 1rem;
}

.offer-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.offer-elem {
    border: 1px solid #ddd;
    background: white;
    margin: 1rem;
    flex: 1;
}

.offer-elem-image {
    width: 100%;
    height: 50%;
}

.offer-elem-text {
    padding: 2rem;
    text-align: center;
}

.offer-separator {
    height: 2px;
    width: 50px;
    margin: 1rem auto;
    background: #333;
}


                                            /* SECTION WHO */

.who {
    display: flex;
    flex-flow: row nowrap;
    min-height: 500px;
}

.who-content-image {
    flex: 1;
    background: url(../images/team.jpg) center center/cover;
}

.who-content-image img {
    width: 100%;
}

.who-content-text {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.who-content-text h2 {
    margin-bottom: 2rem;
}

.who-content-text p {
    font-size: 1.2rem
}


                            /*   SECTION testimonials      */

.testimonials {
    padding: 5rem
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials-elem {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 2rem;
    margin: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.testimonials-elem-text {
    padding: 0.5rem
}

.testimonials-elem-text p i {
    padding: 0.2rem;
}

.testimonials-elem-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-elem-profil p {
    font-weight: 700;
    text-align: center;
}

.testimonials-elem-profil img {
    width: 50%;
    border-radius: 50px;
    margin-bottom: 1rem;
}


                                    /* SECTION contact     */


.contact {
    padding: 10rem 1rem 10rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.contact-form input {
    background: #333;
    border: 0;
    border-bottom: 1px solid #555;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    outline: 0;
}

.contact-form button {
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: 0;
    border-radius:30px;
    background: #f1c40f;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
}

.contact-form button:hover {
    background: #d35400
}

                /*   FOOTER */

footer  {
    background: #444;
    color: white;
    display: block;
    text-align: center;
    padding: 3rem 1rem;
    letter-spacing: 0.3rem;
}